body{
    border-radius: 20px;
    background-color:rgba(245, 150, 8, 0.8);
    border: 4px dotted rgba(6, 63, 248, 0.952);
  
}
a:visited{
    color: rgb(236, 8, 8);
}
a:link{
    color: brown;
}

a:active{
    color: rgb(236, 10, 10);
}
a:hover{
    color: rgb(7, 6, 7);
}
h1{
    color: rgb(235, 10, 235);
    border:3px double black;
    padding:10px;
    text-align: center;

}
.he{
    color: rgb(13, 9, 245);
}
#fig{
color: rgb(2, 2, 2);
}
.align{
    text-align: right;
    margin-right: 20px;
}